<div class="content">
  <h1>Getting Started</h1>
  <p>The easiest way to get started is to use bower:</p>

  {{#syntax-highlight}}
bower install ember-react
  {{/syntax-highlight}}

  <p>Then include the following script file in your application:</p>

  {{#syntax-highlight}}
&lt;script src="bower_components/ember-react/ember-react.global.js"&gt;&lt;/script&gt;
  {{/syntax-highlight}}

  <p>If you are using <a href="http://www.ember-cli.com/">ember-cli</a>, simply import the script in your Brocfile:</p>

  {{#syntax-highlight language="javascript"}}
app.import('bower_components/ember-react/ember-react.global.js');
  {{/syntax-highlight}}
</div>
