<div class="content">
  <h1>React Components</h1>

  <p>Ember-React adds a new helper <code>\{{react}}</code>, which can be used to easily include a react component inside of a handlebars template.</p>

  {{react componentName='example'}}

  <p>The above text is rendered using a react component named 'example':</p>

  {{#syntax-highlight}}
    &#123;&#123;react componentName='example'&#125;&#125;
  {{/syntax-highlight}}

  <h2>Bindings and Properties</h2>

  <p>Properties passed into the <code>\{{react}}</code> helper will be bound. When a property is updated, the <code>props</code> hash inside the React component will be updated and lifecycle events such as  <code>componentWillReceiveProps</code> will be called:</p>

  {{#syntax-highlight}}
    &#123;&#123;react componentName='time-ago' date=date&#125;&#125;
  {{/syntax-highlight}}

</div>
